:root {
  --color-brand: #f10408;
  --color-primary: ;
}

* {
  margin: 0;
  padding: 0;
}

/* header {
  background-color: #333;
  color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
} */

.about {
  background-color: #000;
}

/* header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

header nav .navigation__pages ul {
    display: flex;
}

header .right_section ul {
    display: flex;
} */

/* .logo a {
  text-decoration: none;
  color: #fff;
} */

/* Стили для навигации *
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Стили для логотипа *
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Стили для навигационного меню *
.navigation__pages ul {
  list-style: none;
  display: flex;
  margin-left: 25px;
}

.navigation__pages li {
  margin-right: 20px;
}

.navigation__pages a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

/* Стили для раздела регистрации *
.right_section ul {
  list-style: none;
  display: flex;
}

.right_section li {
  margin-right: 20px;
}

.right_section a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}*/

/* Ваш файл стилей (например, Header.css) */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.center {
  flex-grow: 1;
  text-align: center;
}

nav ul,
.right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li,
.right ul li {
  display: inline;
  margin-left: 20px; /* Примерный отступ между элементами */
}

.logo {
  text-decoration: none;
  color: #333; /* Примерный цвет текста */
  font-weight: bold;
}

/* .left,
.center,
.right {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}

.center {
  flex: 2;
  justify-content: center;
}

.center ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.center ul li {
  margin-right: 20px;
}

.center ul li:last-child {
  margin-right: 0;
}

.center ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.right {
  flex: 1;
  justify-content: flex-end;
}

.right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.right ul li {
  margin-left: 20px;
}

.right ul li:first-child {
  margin-left: 0;
}

.right ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
} */

.bracelets__list {
  display: flex;
  flex-wrap: wrap;
}

.bracelet {
  /* padding: 10px; */
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  width: calc(
    25% - 20px
  ); /* Вычисляем ширину, чтобы поместить 4 браслета на одном ряду */
  /* height: 400px; */
  box-sizing: border-box;
}

.bracelet:hover {
  border-color: #5f5f5f;
  cursor: pointer;
}

.bracelet__image img {
  width: 100%;
  border-radius: 9px 9px 0 0;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 9px;
  border: 0;
  background-color: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5f5f5f;
  /* border-color: #e7e7e7; */
}

/* Стили для больших экранов (например, ширина окна браузера больше 992px) */
@media (min-width: 992px) {
  .bracelet {
    width: calc(20% - 20px);
  }
}

/* Стили для средних экранов (например, ширина окна браузера между 768px и 991px) */
@media (min-width: 762px) and (max-width: 991px) {
  .bracelet {
    width: calc(33.33% - 20px);
  }
}

/* Стили для средних экранов (например, ширина окна браузера между 768px и 991px) */
@media (min-width: 480px) and (max-width: 761px) {
  .bracelet {
    width: calc(50% - 20px);
  }
}

/* Стили для маленьких экранов (например, ширина окна браузера меньше 768px) */
@media (max-width: 480px) {
  .bracelet {
    width: 100%;
  }
}
